In [1]:
import pandas as pd
import numpy as np
import reverse_geocoder as rg
from tqdm import tqdm

pd.set_option('display.max_columns', None)

In [1]:
!pip install tqdm

Requirement already satisfied: tqdm in c:\users\yossef\anaconda3\lib\site-packages (4.66.4)
Requirement already satisfied: colorama in c:\users\yossef\anaconda3\lib\site-packages (from tqdm) (0.4.6)

In [2]:
def reverse_geocode(lat, lon):
    coordinates = (lat, lon)
    results = rg.search(coordinates)
    city = results[0]['name']
    state = results[0]['admin1']
    country = results[0]['cc']
    return city, state, country

In [8]:
df = pd.read_csv('Stores 2 Digits.csv')

In [9]:
df.tail()

,Store_SK,Store_BK,Latitude,Longitude,SSC,start_date,end_date,is_current
3576,3577,3577,47.59,-122.39,1,8/24/2024 3:50,NaN,1
3577,3578,3578,30.51,-92.19,1,8/24/2024 3:50,NaN,1
3578,3579,3579,38.41,-121.42,1,8/24/2024 3:50,NaN,1
3579,3580,3580,28.59,-81.29,1,8/24/2024 3:50,NaN,1
3580,3581,3581,34.00,-117.89,1,8/24/2024 3:50,NaN,1

In [10]:
df.shape

(3581, 8)

In [11]:
tqdm.pandas(desc="Reverse Geocoding")


df[['storeCity', 'storeState', 'storeCountry']] = df.progress_apply(
    lambda row: pd.Series(reverse_geocode(row['Latitude'], row['Longitude'])), axis=1
)

# Merge the results back into the original DataFrame
df.update(df[['storeCity', 'storeState', 'storeCountry']])

Reverse Geocoding: 100%|███████████████████████████████████████████████████████████| 3581/3581 [54:59<00:00,  1.09it/s]

In [12]:
df.to_csv("Stores 2 Digits Tagged.CSV")